.table-Container {
  width: 100%;
}

.employee-table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  text-align: left;
}

.employee-table thead {
  background-color: #0084bb;
}

.employee-table th,
.employee-table td {
  padding: 0.5rem;
}
.employee-table tbody {
  border-left: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
  box-shadow: 5px 5px 6px rgba(17, 17, 17, 0.1);
}
.employee-table th {
  color: white;
  font-size: 0.8rem;
  font-weight: 200;
}
.employee-table td {
  font-size: 0.8rem;
  text-align: start;
}
.action-buttons {
  display: flex;
  gap: 1rem;
}
.action-buttons p {
  color: #0084bb;
  font-size: 0.8rem;
  cursor: pointer;
}
